<div class="contact-con-main">
    <div class="contact-headline-con">
        <app-app-headline class="contact-headline" [subtitle]="'CONTACT ME'" [title]="'Ready to work together?'"
            [lineImage]="'./assets/contact_form/yellow_arrow_contact.png'" [animateLine]="true"
            [textAlign]="'left'" [lineWidth]="'180'" [lineMarginBottom]="-230"
            [infoText]="'I’m passionate about creating clean, efficient, and user-friendly digital solutions. With a strong foundation inmodern web technologies and a constant drive to learn, I bring both technical expertise and creative problem-solving to every project. I’m excited to contribute to innovative teams and turn ideas into impactful results.'"
            [lineAlign]="'flex-end'">
        </app-app-headline>
    </div>

    <div class="contact-con">
        hello
    </div>
</div>