<div class="nav-pos">
  <nav class="navbar">
    <ul class="nav-links">
      <li class="nav-about-me">
        <a class="nav-link" (click)="scrollToSection('about-me')">
          <span class="nav-text">About me</span>
          <img src="assets/img/header/B.2.png" alt="about" class="hover-bg" />
        </a>
      </li>

      <li class="nav-skills">
        <a class="nav-link" (click)="scrollToSection('skills')">
          <span class="nav-text">Skills</span>
          <img src="assets/img/header/B.1.png" alt="skills" class="hover-bg" />
        </a>
      </li>

      <li class="nav-projects">
        <a class="nav-link" (click)="scrollToSection('projects')">
          <span class="nav-text">Projects</span>
          <img src="assets/img/header/B.4.png" alt="projects" class="hover-bg" />
        </a>
      </li>

      <li class="nav-contact">
        <a class="nav-link" (click)="scrollToSection('contact')">
          <span class="nav-text">Contact</span>
          <img src="assets/img/header/B.3.png" alt="contact" class="hover-bg" />
        </a>
      </li>
    </ul>
  </nav>
</div>