<nav class="navbar" [ngClass]="'navbar--' + variant">
  <div class="navbar-left">
    <div class="logo-wrapper">
      <img class="logo logo-blue" src="/assets/img/header/logo_blue.png" alt="">
      <img class="logo logo-yellow" src="/assets/img/header/logo_yellow.png" alt="">
    </div>
  </div>

  <div class="navbar-center desktop-only">
    <ul class="nav-links">
      <li class="nav-about-me">
        <a class="nav-link" [routerLink]="['/']" fragment="about-me" (click)="emitNavClick()">
          <span class="nav-text">{{ 'NAV.ABOUT' | translate }}</span>
          <img src="assets/img/header/B.2.png" class="hover-bg" />
        </a>
      </li>

      <li class="nav-skills">
        <a class="nav-link" [routerLink]="['/']" fragment="skills" (click)="emitNavClick()">
          <span class="nav-text">{{ 'NAV.SKILLS' | translate }}</span>
          <img src="assets/img/header/B.1.png" class="hover-bg" />
        </a>
      </li>

      <li class="nav-projects">
        <a class="nav-link" [routerLink]="['/']" fragment="projects" (click)="emitNavClick()">
          <span class="nav-text">{{ 'NAV.PROJECTS' | translate }}</span>
          <img src="assets/img/header/B.4.png" class="hover-bg" />
        </a>
      </li>

      <li class="nav-contact">
        <a class="nav-link" [routerLink]="['/']" fragment="contact" (click)="emitNavClick()">
          <span class="nav-text">{{ 'NAV.CONTACT' | translate }}</span>
          <img src="assets/img/header/B.3.png" class="hover-bg" />
        </a>
      </li>
    </ul>
  </div>

  <div class="navbar-right desktop-only">
    <div class="language-wrapper">
      <div class="en-language-wrapper" (click)="selectLanguage('en')">
        <img [ngClass]="{'visible': selectedLanguage === 'en'}" class="language-pos en-language-red"
          src="/assets/img/header/en_red.png">
        <img class="language-pos en-language-mark language-mark" src="/assets/img/header/en_toggle.png">
        <img [ngClass]="{'visible': selectedLanguage !== 'en'}" class="language-pos en-language-white"
          src="/assets/img/header/en_white.png">
      </div>

      <div class="language-switch-wrapper">
        <img class="language-line" src="/assets/img/header/language_line.png">
        <img class="language-dot" [ngClass]="dotClass" src="/assets/img/header/language_dot.png">
      </div>

      <div class="de-language-wrapper" (click)="selectLanguage('de')">
        <img [ngClass]="{'visible': selectedLanguage !== 'de'}" class="language-pos de-language-white"
          src="/assets/img/header/de_white.png">
        <img class="language-pos de-language-mark language-mark" src="/assets/img/header/de_toggle.png">
        <img [ngClass]="{'visible': selectedLanguage === 'de'}" class="language-pos de-language-red"
          src="/assets/img/header/de_red.png">
      </div>
    </div>
  </div>

  <button id="menuBars" class="mobile-only burger-btn" type="button" (click)="toggleMenu()">
    <img src="/assets/mobile/menu_bars.png" alt="menu">
  </button>

  <div class="mobile-menu-overlay" *ngIf="isMenuOpen" (click)="closeMenu()">
    <div class="mobile-menu" (click)="$event.stopPropagation()">

      <button class="mobile-close" type="button" (click)="closeMenu()">
        <img src="/assets/mobile/menu_close.png" alt="close">
      </button>

      <ul class="mobile-links">
        <li>
          <a [routerLink]="['/']" fragment="about-me" (click)="emitNavClick(); closeMenu()">
            {{ 'NAV.ABOUT' | translate }}
          </a>
        </li>
        <li>
          <a [routerLink]="['/']" fragment="skills" (click)="emitNavClick(); closeMenu()">
            {{ 'NAV.SKILLS' | translate }}
          </a>
        </li>
        <li>
          <a [routerLink]="['/']" fragment="projects" (click)="emitNavClick(); closeMenu()">
            {{ 'NAV.PROJECTS' | translate }}
          </a>
        </li>
        <li>
          <a [routerLink]="['/']" fragment="contact" (click)="emitNavClick(); closeMenu()">
            {{ 'NAV.CONTACT' | translate }}
          </a>
        </li>
      </ul>

      <div class="mobile-language">
        <div class="language-wrapper">
          <div class="en-language-wrapper" (click)="selectLanguage('en')">
            <img [ngClass]="{'visible': selectedLanguage === 'en'}" class="language-pos en-language-red"
              src="/assets/img/header/en_red.png">
            <img class="language-pos en-language-mark language-mark" src="/assets/img/header/en_toggle.png">
            <img [ngClass]="{'visible': selectedLanguage !== 'en'}" class="language-pos en-language-white"
              src="/assets/img/header/en_white.png">
          </div>

          <div class="language-switch-wrapper">
            <img class="language-line" src="/assets/img/header/language_line.png">
            <img class="language-dot" [ngClass]="dotClass" src="/assets/img/header/language_dot.png">
          </div>

          <div class="de-language-wrapper" (click)="selectLanguage('de')">
            <img [ngClass]="{'visible': selectedLanguage !== 'de'}" class="language-pos de-language-white"
              src="/assets/img/header/de_white.png">
            <img class="language-pos de-language-mark language-mark" src="/assets/img/header/de_toggle.png">
            <img [ngClass]="{'visible': selectedLanguage === 'de'}" class="language-pos de-language-red"
              src="/assets/img/header/de_red.png">
          </div>
        </div>
      </div>

      <div class="mobile-social">
        <a href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer">
          <img src="/assets/img/header/linkedin_default.png" alt="linkedin">
        </a>
        <a href="https://github.com/" target="_blank" rel="noopener noreferrer">
          <img src="/assets/img/header/github_default.png" alt="github">
        </a>
        <a [routerLink]="['/']" fragment="contact" (click)="emitNavClick(); closeMenu()">
          <img src="/assets/img/header/email_default.png" alt="mail">
        </a>
      </div>
    </div>
  </div>
</nav>