<div class="nav-pos">

    <div class="logo-wrapper">
        <img class="logo logo-blue" src="/assets/img/header/logo_blue.png" alt="">
        <img class="logo logo-yellow" src="/assets/img/header/logo_yellow.png" alt="">
    </div>

    <nav class="navbar">
        <ul class="nav-links">
            <li class="nav-about-me"><a routerLink="/about">About me</a></li>
            <li class="nav-skills"><a routerLink="/skills">Skills</a></li>
            <li class="nav-projects"><a routerLink="/projects">Projects</a></li>
            <li class="nav-contact"><a routerLink="/contact">Contact</a></li>
        </ul>
    </nav>

    <div class="language-wrapper">

        <div class="en-language-wrapper" (click)="selectLanguage('en')">
            <img class="language-pos en-language-red" src="/assets/img/header/en_red.png" alt="english-language">
            <img class="language-pos en-language-mark" src="/assets/img/header/en_toggle.png" alt="language-mark">
        </div>

        <div class="language-switch-wrapper">
            <img class="language-line" src="/assets/img/header/language_line.png" alt="language-switch">
            <img [ngClass]="dotAnimationClass" class="language-dot" src="/assets/img/header/language_dot.png"
                alt="language-switch">
        </div>

        <div class="de-language-wrapper" (click)="selectLanguage('de')">
            <img class="language-pos de-language-white" src="/assets/img/header/de_white.png" alt="german-language">
            <img class="language-pos de-language-mark" src="/assets/img/header/de_toggle.png" alt="language-mark">
        </div>

    </div>

</div>