.projects-main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.first-row {
    display: flex;
    gap: 10px;
}

.wrapper {
    display: flex;
    gap: 10px;
}

.project-img-wrapper {
    width: 100%;
    height: auto;
    overflow: hidden;

    >.project-img {
        border-radius: 20px;
        position: absolute;
        top: 30px;
        left: 70px;
        cursor: pointer;
        transition: opacity 0.3s ease-in-out;
    }

    .base {
        z-index: 1;
        opacity: 1;
      }
    
      .zoomed {
        z-index: 2;
        opacity: 0;
      }
    
      .zoomed-max {
        z-index: 3;
        opacity: 0;
      }
    
      &:hover .base {
        opacity: 0;
      }
    
      &:hover .zoomed {
        opacity: 1;
      }
    
      &:hover .zoomed-max {
        opacity: 0;
      }
    
      .has-max-zoom &:hover .zoomed {
        opacity: 0;
      }
    
      .has-max-zoom &:hover .zoomed-max {
        opacity: 1;
      }
}

.zoomed-max {
    z-index: 3;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  
  .project-img-wrapper:hover .zoomed-max {
    opacity: 1;
  }

.single-project-con {
    position: relative;
    top: 150px;
    height: 600px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;

    >h1 {
        width: 80%;
        text-align: start;
        margin-top: 10px;
        font-size: 65px;
    }

    >h3 {
        width: 80%;
        text-align: start;
        margin-bottom: 0;
    }

    >h2 {
        width: 80%;
        margin-bottom: 0;
        position: relative;
        top: 200px;
    }
}

.headline-my-craft {
    font-weight: 400;
}

.headline-info-txt {
    width: 80%;
    position: relative;
    top: -15px;
}

.project-info-txt {
    width: 80%;
    position: relative;
    top: 200px;
    height: 50px;
}

.line-wrapper {
    width: 37%;
    position: relative;
    top: -45px;
    left: -150px;
    height: 20px;
    overflow: hidden;
}

.animated-line {
    height: 20px;
    width: 0%;
    animation: linePulse 6.4s infinite;
    transform-origin: left;
    display: block;
}

@keyframes linePulse {
    0% {
        width: 0%;
    }

    4% {
        width: 100%;
    }

    82% {
        width: 100%;
    }

    86% {
        width: 0%;
    }

    100% {
        width: 0%;
    }
}