<div class="projects-main">
    <div class="wrapper">
        <div class="single-project-con">
            <h3 class="headline-my-craft">MY CRAFT</h3>
            <h1>Projects</h1>
            <img src="" alt="">
            <p></p>
        </div>
        <div class="single-project-con">
            <img src="./assets/img/header/projects/laptop1.png" alt="">
            <h2>Join</h2>
            <p>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions,
                assign users an categories.</p>
        </div>
    </div>
    <div class="wrapper">
        <div class="single-project-con">
            <img src="./assets/img/header/projects/elpolloloco1.png" alt="">
            <h2>El Pollo Loco</h2>
            <p>Jump, run and throw game based on object-oriented approach. Help Pepe to find coins and tabasco salsa to
                fight against the crazy hen.</p>
        </div>
        <div class="single-project-con">
            <img src="./assets/img/header/projects/dabubble1.png" alt="">
            <h2>DABubble</h2>
            <p>This App is a Slack Clone App. It revolutionizes team communication and collaboration with its intuitive
                interface, real-time messaging, and robust channel organization.</p>
        </div>
    </div>
</div>