<div class="colleagues-wrapper">
  <div class="colleagues-inner">
    <div class="colleagues-main layout-container">
      <app-app-headline class="colleagues-headline" [subtitle]="'COLLEAGUES.SUBTITLE'" [title]="'COLLEAGUES.TITLE'"
        [lineImage]="'./assets/img/header/colleagues_thoughts/blue_arrow.png'" [animateLine]="true"
        [maskDirection]="'rtl'" [textAlign]="'right'" [lineAboveTitle]="true" [lineLeftOfSubtitle]="true"
        [lineWidth]="100" [lineMarginBottom]="-20" [lineAlign]="'flex-end'">
      </app-app-headline>
    </div>

    <div class="feedback-cards">
      <div class="image-overlap">
        <div class="single-card" *ngFor="let card of imageCards; let i = index" (mouseenter)="hoveredIndex = i"
          (mouseleave)="hoveredIndex = null" [ngStyle]="combinedStyle(i)">
          <img [src]="card.src" alt="about-image" />

          <img *ngIf="card.hoverOverlay" [src]="card.hoverOverlay" alt="hover-overlay" class="card-hover-overlay"
            [style.opacity]="hoveredIndex === i ? 1 : 0" />

          <div class="image-text" [style.transform]="getTextRotation(i)">
            {{ card.text | translate}}

            <div class="card-bottom" [class.is-hovered]="hoveredIndex === i">
              <div class="name-main">
                <h3 class="card-name">{{ card.name }}</h3>
                <div>{{ 'COLLEAGUES.JOB' | translate }}</div>
              </div>

              <div class="linkedin-icon-wrapper" (click)="openLinkedIn(card)">
                <img [src]="card.icon" alt="icon" class="linkedin-icon default-icon" />
                <img [src]="card.iconHover" alt="icon hover" class="linkedin-icon hover-icon" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>