@import './../../mixin.scss';
@import './../../keyframes.scss';

  .colleagues-wrapper {
    width: 93%;
    display: flex;
    justify-content: flex-end;
    height: 100vh;
    margin-top: 180px;
  }

  .colleagues-headline {
    width: 100%; 
  }