<div class="colleagues-wrapper">
<app-app-headline
  class="colleagues-headline"
  [subtitle]="'IN THEIR WORDS:'"
  [title]="'Colleague´s Thoughts'"
  [lineImage]="'./assets/img/header/colleagues_thoughts/blue_arrow.png'"
  [animateLine]="true"
  [maskDirection]="'rtl'"
  [textAlign]="'right'"
  [lineAboveTitle]="true"
  [lineLeftOfSubtitle]="true"
  [lineWidth]="'180'"
  [lineMarginBottom]="-20">
</app-app-headline>

<div class="feedback-cards">
    <div class="image-overlap">
        <div *ngFor="let card of imageCards; let i = index" [ngStyle]="{
      'margin-bottom.px': i === 2 ? -90 : -70,
      'z-index': i === 0 ? 30 : i === 1 ? 20 : 10
    }" style="position: relative;">

            <img [src]="card.src" alt="about-image">

            <div class="image-text" [ngStyle]="getTextStyle(i)">
                <img [src]="card.icon" alt="icon" class="linkedin-icon">
                {{ card.text }}
                {{ card.name }}
            </div>

        </div>
    </div>
</div>
</div>