<div class="about-me-wrapper">

    <div class="about-me-main layout-container">
        <div class="image-overlap">
            <div *ngFor="let block of imageBlocks; let i = index" [ngStyle]="{
          'margin-bottom.px': i === 2 ? -90 : -70,
          'z-index': i === 0 ? 30 : i === 1 ? 20 : 10
        }" style="position: relative;">

                <img [src]="block.src" alt="about-image">

                <div class="image-text" [ngStyle]="getTextStyle(i)">
                    <img [src]="block.icon" alt="icon" class="text-icon">
                    {{ block.text }}
                </div>

            </div>
        </div>

        <div class="about-me">
            <app-app-headline [subtitle]="'ABOUT_ME.SUBTITLE'" [title]="'ABOUT_ME.TITLE'"
                [infoText]="'ABOUT_ME.DESCRIPTION'" [lineImage]="'./assets/img/header/about_me/blue_line.png'"
                [animateLine]="true" [maskDirection]="'horizontal'" [lineWidth]="330" [lineAlign]="'flex-start'">
            </app-app-headline>

            <app-app-btn (click)="scrollToSection('contact')" class="lets-talk-btn"
                [text]="'ABOUT_ME.LETS_TALK_BTN' | translate" [visible]="true" [width]="'170px'" [height]="'45px'"
                [defaultImg]="'./assets/img/header/app_btn/black_btn.png'"
                [hoverImg]="'./assets/img/header/app_btn/hover_btn.png'" [color]="'black'" [hoverColor]="'white'">
            </app-app-btn>
        </div>
    </div>
</div>