<div class="about-me-main">
    <div class="image-overlap">
        <img *ngFor="let img of images; let i = index" [src]="img" [ngStyle]="{
          'margin-bottom.px': i === 2 ? -90 : -65,
          'z-index': i === 0 ? 30 : i === 1 ? 20 : 10
        }" style="position: relative;" alt="about-image">
    </div>

    <div class="about-me-txt">
        <p [ngStyle]="{'font-size.px': 22}">WHO´S JOEL?</p>
        <h1>About Me</h1>
        <p [ngStyle]="{'font-size.px': 20}">Hey there, I'm Karl. Write some information about yourself that is IT related. Why are you passionate about
            coding? What is your source of inspiration for improving your programming skills? Do you learn from each
            challenge as you search for the most efficient or elegant solution?

            Let’s collaborate and build something remarkable together!
        </p>
    </div>
</div>