@import './../../mixin.scss';

.about-me-main {
    @include dFlex($f: flex, $c: center, $ai: center);
    @include elementSize($w: none, $h: 80vh, $mw: 100vw);
    margin-left: 150px;

}

.image-overlap {
    @include dFlex($f: flex, $c: center, $ai: center, $fd: column);
  }

  h1 {
    font-size: 64px;
  }

  .about-me-txt {
    margin-right: 150px;
    margin-left: 80px;
  }

  .image-overlap > div {
    position: relative;
    display: inline-block;
  }
  
  .image-text {
    @include dFlex($f: flex, $c: center, $ai: center);
    position: absolute;
    width: 80%;
    text-align: center;
    color: #fff;
    font-family: inherit;
    font-size: 24px;
    font-weight: 200;
    line-height: 1.4;
    transform-origin: center;
    gap: 16px;
  }

  .btn {
    position: relative;
    right: 0;
    cursor: pointer;
  }