<div class="about-me-wrapper">

    <div class="about-me-main">
        <div class="image-overlap">
            <div *ngFor="let block of imageBlocks; let i = index" [ngStyle]="{
          'margin-bottom.px': i === 2 ? -90 : -70,
          'z-index': i === 0 ? 30 : i === 1 ? 20 : 10
        }" style="position: relative;">

                <img [src]="block.src" alt="about-image">

                <div class="image-text" [ngStyle]="getTextStyle(i)">
                    <img [src]="block.icon" alt="icon" class="text-icon">
                    {{ block.text }}
                </div>

            </div>
        </div>

        <div class="about-me">
            <!-- <p [ngStyle]="{'font-size.px': 22}">WHO´S JOEL?</p>

            <h1 [ngStyle]="{'margin-top.px': -10}">About Me</h1>

            <div class="line-animation-wrapper">
                <img src="./assets/img/header/about_me/blue_line.png" class="animated-line" alt="line">
            </div>

            <p class="about-me-txt" [ngStyle]="{'font-size.px': 20}">Hey there, I'm Joel. Write some information about
                yourself that is IT
                related. Why are you passionate about
                coding? What is your source of inspiration for improving your programming skills? Do you learn from each
                challenge as you search for the most efficient or elegant solution?<br><br>

                Let’s collaborate and build something remarkable together!<br>
            </p> -->

            <app-app-headline 
            [subtitle]="'MY CRAFT'" 
            [title]="'Projects'"
            [infoText]="'Feel free to explore my projects and try things out! I focus on building responsive, user-friendly experiences with clean and efficient code.'"
            [lineImage]="'./assets/img/header/projects/yellow_line.png'" 
            [animateLine]="true">
            </app-app-headline>

            <app-app-btn class="lets-talk-btn" [text]="'Let´s talk'" [visible]="true" [width]="'140px'"
                [height]="'45px'" [defaultImg]="'./assets/img/header/app_btn/black_btn.png'"
                [hoverImg]="'./assets/img/header/app_btn/hover_btn.png'" [color]="'black'" [hoverColor]="'white'">
            </app-app-btn>
        </div>
    </div>
</div>