@import './../../mixin.scss';
@import './../../keyframes.scss';

.about-me-wrapper {
  min-height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.about-me-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: clamp(30px, 5vw, 100px);
  padding-inline: clamp(16px, 4vw, 100px);
}

.image-overlap,
.about-me {
  min-width: 0;
}

.image-overlap img {
  max-width: 100%;
  height: auto;
  display: block;
}

:host ::ng-deep app-app-headline p,
:host ::ng-deep app-app-headline .headline-info-txt {
  overflow-wrap: anywhere;
  word-break: break-word;
}

.image-overlap > div {
  position: relative;
  display: inline-block;
}

.image-text {
  @include dFlex($f: flex, $c: center, $ai: center);
  position: absolute;
  width: 80%;
  text-align: center;
  color: #fff;
  font-family: inherit;
  font-size: 24px;
  font-weight: 200;
  line-height: 1.4;
  transform-origin: center;
  gap: 16px;
}

.lets-talk-btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}

.image-overlap {
  flex: 0 0 480px;  
  max-width: 520px;
}

@media (max-width: 1070px) {
  .image-overlap {
    flex: 0 0 420px; 
  }
}


@media (max-width: 900px) {
  .about-me-main {
    flex-direction: column;
    align-items: stretch;
    gap: 50px;
    padding-block: 90px;
  }

  .image-overlap {
    order: 2; 
    position: relative;
    left: 50px;
  }

  .about-me {
    order: 1;
    width: 90%;
    position: relative;
    left: 50px;
    right: 50px;
  }

  .lets-talk-btn {
    justify-content: flex-start;
  }

  .image-text {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .image-text {
    font-size: 16px;
  }
}