@import './../mixin.scss';
@import './../keyframes.scss';

:host {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
        overflow-x: hidden !important;
}

body {
    overflow-x: hidden !important;
}

.page-content {
    flex: 1 0 auto;
        overflow-x: hidden !important;
}

.site-footer {
    z-index: 1;
    width: 90vw;
}

.lp {
    display: flex;
    justify-content: center;
}