<main class="page-content">
  <section id="landing-page">
    <app-landing-page class="lp"></app-landing-page>
  </section>

  <section id="about-me">
    <app-about-me-section></app-about-me-section>
  </section>

  <section id="skills">
    <app-my-skills></app-my-skills>
  </section>

  <section id="projects">
    <app-projects></app-projects>
  </section>

  <section id="colleagues">
    <app-colleagues-thoughts></app-colleagues-thoughts>
  </section>

  <section id="contact">
    <app-contact-form></app-contact-form>
  </section>
</main>
