<main class="page-content">
  <app-landing-page id="landing-page" class="lp"></app-landing-page>
  <app-about-me-section id="about-me"></app-about-me-section>
  <app-my-skills id="skills" class="my-skills"></app-my-skills>
  <app-projects id="projects" (projectModalOpenChange)="isProjectsOpen = $event"></app-projects>
  <app-colleagues-thoughts id="colleagues"></app-colleagues-thoughts>
  <app-contact-form id="contact"></app-contact-form>
  <app-arrow-up [disabled]="isProjectsOpen"></app-arrow-up>
</main>