<div class="my-skills-con">
    <img src="./assets/img/header/skills/background.png" alt="">

    <div class="wrapper-main">
        <div class="wrapper-top">
            <div class="skill-headline">
                <div class="headline-wrapper">
                    <p>MY STACK</p>
                    <h1>Skill set</h1>
                    <img class="orange-circle" src="./assets/img/header/skills/orange_line.png" alt="">
                </div>
            </div>
            <div class="skill-introduction">
                <div class="skill-intro-wrapper">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque voluptatem reiciendis error
                        obcaecati
                        quasi explicabo.</p>
                    <img src="./assets/img/header/skills/skills_paper.png" alt="">
                </div>
            </div>
        </div>

        <div class="wrapper-bottom">
            <div class="skill-set">
                <div class="skills">
                    <div class="single-skill-con">
                        <img src="./assets/img/header/skills/html.png" alt="">
                        <p>HTML</p>
                    </div>
                    <div class="single-skill-con">
                        <img src="./assets/img/header/skills/css.png" alt="">
                        <p>CSS</p>
                    </div>
                    <div class="single-skill-con">
                        <img src="./assets/img/header/skills/js.png" alt="">
                        <p>JavaScript</p>
                    </div>
                    <div class="single-skill-con">
                        <img src="./assets/img/header/skills/ts.png" alt="">
                        <p>TypeScript</p>
                    </div>
                    <div class="single-skill-con">
                        <img src="./assets/img/header/skills/angular.png" alt="">
                        <p>Angular</p>
                    </div>
                </div>
                <div class="skills">
                    <img src="./assets/img/header/skills/firebase.png" alt="">
                    <img src="./assets/img/header/skills/git.png" alt="">
                    <img src="./assets/img/header/skills/restapi.png" alt="">
                    <img src="./assets/img/header/skills/scrum.png" alt="">
                    <img src="./assets/img/header/skills/materialdesign.png" alt="">
                </div>
            </div>
            <div class="sticker"></div>
        </div>
    </div>
</div>