<div class="my-skills-con">
    <img src="./assets/img/header/skills/background.png" alt="">

    <div class="wrapper-main">
        <div class="wrapper-top">
            <div class="skill-headline">
                <div class="headline-wrapper">
                    <p>MY STACK</p>
                    <h1>Skill set</h1>
                    <img class="orange-circle" src="./assets/img/header/skills/orange_line.png" alt="">
                </div>
            </div>
            <div class="skill-introduction">
                <div class="skill-intro-wrapper">
                    <p>Over the past months, I’ve been building up this stack of skills — here’s what I’m confident
                        working with.</p>
                    <img src="./assets/img/header/skills/skills_paper.png" alt="">
                </div>
            </div>
        </div>

        <div class="wrapper-bottom">
            <div class="skill-set">
                <div class="skills">
                    <div class="single-skill-con">
                        <img src="./assets/img/header/skills/html.png" alt="">
                        <p>HTML</p>
                    </div>
                    <div class="single-skill-con">
                        <img src="./assets/img/header/skills/css.png" alt="">
                        <p>CSS</p>
                    </div>
                    <div class="single-skill-con">
                        <img src="./assets/img/header/skills/js.png" alt="">
                        <p>JavaScript</p>
                    </div>
                    <div class="single-skill-con">
                        <img src="./assets/img/header/skills/ts.png" alt="">
                        <p>TypeScript</p>
                    </div>
                    <div class="single-skill-con">
                        <img src="./assets/img/header/skills/angular.png" alt="">
                        <p>Angular</p>
                    </div>
                </div>
                <div class="skills">
                    <div class="skills">
                        <div class="single-skill-con">
                            <img src="./assets/img/header/skills/firebase.png" alt="">
                            <p>Firebase</p>
                        </div>
                        <div class="single-skill-con">
                            <img src="./assets/img/header/skills/git.png" alt="">
                            <p>Git</p>
                        </div>
                        <div class="single-skill-con">
                            <img src="./assets/img/header/skills/restapi.png" alt="">
                            <p>REST-API</p>
                        </div>
                        <div class="single-skill-con">
                            <img src="./assets/img/header/skills/scrum.png" alt="">
                            <p>Scrum</p>
                        </div>
                        <div class="single-skill-con">
                            <img src="./assets/img/header/skills/materialdesign.png" alt="">
                            <p>Material<br>
                                Design</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sticker-con" [ngClass]="{ 'no-pointer': isOpen }">
                <img [src]="currentSticker" (click)="animateSticker()" alt="Sticker">

                <div class="sticker-reveal" *ngIf="isOpen" (click)="resetSticker()">
                    <p class="sticker-text">Also, I´m interested in diving into:</p>
                    <div class="sticker-skills">
                        <img src="./assets/img/header/skills/sticker_react.png" alt="react">
                        <img src="./assets/img/header/skills/sticker_vuejs.png" alt="vuejs">
                    </div>
                </div>
            </div>
        </div>
    </div>