<div class="my-skills-con">
    <img src="./assets/img/header/skills/background.png" alt="">

    <div class="wrapper-main">
        <div class="wrapper-top">
            <div class="skill-headline">
                <p>MY STACK</p>
                <h1>Skill set</h1>
            </div>
            <div class="skill-introduction"></div>
        </div>

        <div class="wrapper-bottom">
            <div class="skill-set"></div>
            <div class="sticker"></div>
        </div>
    </div>
</div>