@import './../../mixin.scss';

.navbar-main {
    width: 100%;
    position: absolute;
    z-index: 1;
}

.header-main {
    @include elementSize($w: 100vw, $h: 100vh, $mw: none);
    z-index: 1;
}

.landingpage-bgr {
    width: 100vw;
    height: 95vh;
}

.landing-page-main-con {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    width: 50vw;
    height: 50vh;
    position: absolute;
    top: 200px;
}

.main-content-top {
    position: relative;
    width: 100%;
    height: 50%;
    position: relative;
}

.main-content-bottom {
    width: 100%;
    height: 50%;
    position: relative;
}

span {
    color: white;
    font-weight: 700;
    font-size: 120px;
    position: absolute;
}

.text-top {
    bottom: 0;
}

.text-bottom {
    right: 0;
}

// .hello-world {
//     position: absolute;
//     top: 140px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 30px;
//     width: 120px;
//     border: 1px solid;
//     border-color: whhite;
//     border-radius: 20px;
//     color: white;
// }
.hello-world {
    position: absolute;
    top: 140px;
    left: 0;

    height: 30px;
    border-radius: 999px;
    overflow: hidden;
    cursor: pointer;

    /* Border statisch oben */
    border: 1px solid #fff;

}

.hello-world .fill {
    position: absolute;
    inset: 0;                 /* füllt die komplette Pill */
    background: #3355ff;
    z-index: 0;
    transform-origin: left center;
    transform: scaleX(0);     /* Start: unsichtbar (0 Breite) */
    transition: transform 420ms cubic-bezier(.22,.7,.2,1);
  }
  
  /* Hover: füllt auf volle Breite */
  .hello-world:hover .fill {
    transform: scaleX(1);
  }

/* Texte */
.hello-world .label {
    position: absolute;
    color: #fff;
    font-weight: 200;
    font-size: 18px;
    line-height: 1;
    white-space: nowrap;
    z-index: 1;
    /* über der Füllung */
    pointer-events: none;
}

/* Start: Hello world links */
.hello-world .label.base {
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}

/* Hover: Joel Baig mittig */
.hello-world .label.alt {
    left: 75px;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 200ms ease-in; /* weiches Einblenden von Joel Baig */
    
}

.polaroid-frame {
    position: absolute;
    right: 80px;
    bottom: 18px;
    transform: rotate(8deg);
    transform-origin: center center;
}

.get-in-touch-btn {
    position: absolute;
    right: 0;
    top: 150px;
}