@import './../../mixin.scss';
@import './../../keyframes.scss';

.navbar-main {
    width: 90vw;
    position: absolute;
    z-index: 1;
}

.header-main {
    @include elementSize($w: 100vw, $h: 100vh, $mw: none);
    z-index: 1;
}

.landingpage-bgr {
    width: 100vw;
    height: 95vh;
}

.landing-page-main-con {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    width: 55vw;
    height: 50vh;
    position: absolute;
    top: 200px;
}

.main-content-top {
    position: relative;
    width: 100%;
    height: 50%;
    position: relative;
}

.main-content-bottom {
    width: 100%;
    height: 50%;
    position: relative;
    top: 330px;
}

.text-top,
.text-bottom {
  color: white;
  font-weight: 700;
  font-size: 120px;
  position: absolute;
}

.text-top {
    bottom: 0;
    display: flex;
    color: white;
}

.text-bottom {
    right: 0;
    display: flex;
    color: white;
}

.get-in-touch-btn {
    position: absolute;
    right: 0;
    top: 150px;
}

.hello-world {
    position: absolute;
    top: 140px;
    left: 0;
    height: 40px;
    border-radius: 999px;
    cursor: pointer;
    border: 1px solid #fff;
    overflow: visible;
    --icon-size: 36px;
    --icon-gap-end: 8px;
}

.hello-world .pill-clip {
    position: relative;
    inset: 0;
    display: block;
    height: 100%;
    border-radius: inherit;
    overflow: hidden;
}

.hello-world .fill {
    position: absolute;
    inset: 0;
    background: #3355ff;
    z-index: 0;
    transform-origin: left center;
    transform: scaleX(0);
}

.hello-world.has-interacted .fill {
    transition: transform 420ms cubic-bezier(.22, .7, .2, 1);
}

.hello-world.has-interacted:hover .fill {
    transform: scaleX(1);
}

.hello-world .label {
    position: absolute;
    color: #fff;
    font-weight: 200;
    font-size: 18px;
    line-height: 1;
    white-space: nowrap;
    z-index: 1;
    pointer-events: none;
}

.hello-world .label.base {
    left: 13px;
    top: 50%;
    transform: translateY(-50%);
}

.hello-world .label.alt {
    left: 75px;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 200ms ease-in;
}

.hello-world .icon-wrap {
    position: absolute;
    top: 0;
    left: 50%;
    width: var(--icon-size);
    height: var(--icon-size);
    transform: translate(-50%, -120%);
    opacity: 0;
    pointer-events: none;
    z-index: 5;
}

.hello-world.has-interacted .icon-wrap.on {
    animation: slideInHand 0.5s linear both;
}

.hello-world.has-interacted .icon-wrap:not(.on) {
    animation: slideOutHand 0.55s linear both;
}

.hello-world .icon {
    width: 36px;
    height: 36px;
    display: block;
    transform-origin: 50% 50%;
    will-change: transform;
}

.hello-world .icon-wrap.on .icon {
    animation: spinCW 0.5s linear both;
}

.hello-world .icon-wrap:not(.on) .icon {
    animation: spinCCW 0.55s linear both;
}

.contact-icons {
    position: relative;
    top: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;

    .social-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        overflow: hidden;

        &:hover {
            background-color: #3355ff;
            cursor: pointer;
        }
    }
}

.polaroid-frame {
    z-index: 1;
    position: relative;
}

.polaroid-img {
    position: absolute;
    top: 14px;
    right: 12px;
    width: 180px;
    height: 200px;
}

.polaroid-con {
    position: absolute;
    right: 80px;
    bottom: 18px;
    transform: rotate(8deg);
    transform-origin: center center;

    .smiley {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 195px;
        left: 160px;
        transform: translateX(-50%);
        font-size: 30px;
        font-weight: 700;
        transition: opacity 0.3s ease-in-out;
        z-index: 2;
    }

    .polaroid-img {
        filter: grayscale(100%);
    }

    &:hover .polaroid-img {
        filter: grayscale(0%);
    }

    &:hover .smiley {
        content: ":D";
    }
}