<div class="overlay">
    <app-header class="header-project-details" (click)="$event.stopPropagation()"></app-header>
    <app-navbar class="header-project-details navbar"></app-navbar>

    <img class="panel-bgr" src="./assets/project_details/paper_bgr.png" alt="">

    <div class="panel" (click)="$event.stopPropagation()">
        <ng-container *ngIf="selectedProject as project">
            <div class="wrapper-left">

                <button class="back-btn" type="button" (click)="onClose(); $event.stopPropagation()">⬅ Back</button>

                <div>
                    <app-app-headline class="single-project-headline" [title]="project.title"
                        [infoText]="project.description" [lineImage]="'./assets/img/header/about_me/blue_line.png'"
                        [animateLine]="true" [maskDirection]="'horizontal'" [lineWidth]="315" [lineAlign]="'flex-start'"
                        [subtitle]="project.subtitle" [subtitlePosition]="'below'" [subtitleOffset]="16"
                        [subtitleUnderLine]="true" [subtitleTag]="'h2'">
                    </app-app-headline>
                </div>

                <div>
                    <h1 class="implementation-details">Hallo</h1>
                    <p class="details">{{ project.details }}</p>
                </div>
            </div>

            <div class="wrapper-right">
                <img class="detail-img" [src]="project.image" [alt]="project.alt" />
                <button (click)="nextProject()">Next ➡</button>
            </div>
        </ng-container>
    </div>
</div>