.project-details {
    position: relative;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.85);
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.panel-bgr {
    width: 100vw;
    height: 100vh;
}

.panel {
    position: absolute;
    color: white;
    width: 70vw;
    height: 100vh;
    overflow-y: auto;
}

.back-btn {
    position: absolute;
    top: 0;
    right: 0;
}

.single-project-headline {
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    color: black;
}