:host ::ng-deep .section-subtitle {
    font-size: 34px;
    font-weight: 600;
}

:host ::ng-deep app-navbar.pd-navbar .nav-about-me .nav-text,
:host ::ng-deep app-navbar.pd-navbar .nav-skills .nav-text {
  color: #000 !important;
}
.overlay {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: transparent;
    z-index: 100;
    overflow: hidden;
    touch-action: none;
}

.overlay::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 120px;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
}

.panel-bgr {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.panel-bgr {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #1c1c1c;
    z-index: 0;
}

.panel {
    position: relative;
    color: white;
    width: 100vw;
    max-height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    z-index: 2;
}

.wrapper-left {
    position: relative;
    left: 50px;
    width: 30vw;
}

.wrapper-right {
    position: relative;
    right: 50px;
}

.single-project-headline {
    width: 40%;
    position: sticky;
    top: 0;
    color: black;
}

p {
    color: black;
    width: 70%;
    font-size: 20px;
}

h1,
h2 {
    color: black;
}

.header-project-details {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    pointer-events: auto;
}

.details {
    width: auto;
    height: auto;
}

.detail-img {
    border-radius: 20px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2002;
    isolation: unset;
    margin-left: 94px;
    margin-right: 76px;
}

.back-btn-con {
    position: relative;
    top: -440px;
    left: 120px;
    width: 130px;
    cursor: pointer;

    >button {
        width: 100px;
        background-color: transparent;
        border: none;
        font-weight: 700;
        font-size: 20px;
        cursor: pointer;
    }

    &:hover>button {
        color: #f87a55;
    }

    >img {
        position: absolute;
        left: -20px;
    }
}

.next-project-btn-con {
    position: relative;
    top: 500px;
    right: 120px;
    width: 120px;
    cursor: pointer;

    >button {
        width: 130px;
        background-color: transparent;
        border: none;
        font-weight: 700;
        font-size: 20px;
        color: white;
        cursor: pointer;
    }

    &:hover>button {
        color: #f7c518;
    }

    >img {
        position: absolute;
        right: -35px;
        top: 0px;
    }
}

.sticker-img {
    position: relative;
    top: -265px;
    right: -487px;
}

.sticker-text {
    position: absolute;
    top: 103px;
    right: -50px;
    height: 190px;
    width: 122px;
}

.circle-text {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: 700;
    font-size: 16px;
    fill: #111;
}

.logo-sticker {
    position: absolute;
    top: 171px;
    right: -15px;
    height: 50px;
}

.tech-list {
    list-style: none;
    padding: 0;
    margin-top: 50px;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.tech-item {
    display: flex;
    align-items: center;
    gap: 8px;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 8px;
    font-weight: 600;
    color: black;
}

.tech-icon {
    width: 20px;
    height: 20px;
    display: block;
}

.duration-con {
    margin-top: 40px;
    display: flex;
    align-items: center;

    >p {
        margin-left: 10px;
    }
}

.bottom-btns-con {
    position: absolute;
    top: 500px;
    right: 50px;
    display: flex;
    justify-content: space-between;
    width: 400px;
}

@media (max-width: 900px) {
    .panel {
        flex-direction: column;
        align-items: stretch;
        width: 94vw;
        max-height: 92vh;
    }

    .single-project-headline {
        width: 100%;
        position: static;
    }

    p {
        width: 100%;
    }
}