.project-details {
    position: relative;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.85);
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
}

.panel-bgr {
    width: 100vw;
    height: 100vh;
    background-color: rgb(28, 28, 28);
}

.panel {
    position: absolute;
    color: white;
    width: 70vw;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back-btn {
    position: absolute;
    top: 0;
    right: 0;
}

.single-project-headline {
    width: 40%;
    position: absolute;
    top: 270px;
    left: 0;
    color: black;
}

// .description {

// }

// .implementation-details {
    
// }

p {
    color: black;
    width: 70%;
    font-size: 20px;
}