@import "@fontsource/bricolage-grotesque/200.css";
@import "@fontsource/bricolage-grotesque/400.css";
@import "@fontsource/bricolage-grotesque/500.css";
@import "@fontsource/bricolage-grotesque/700.css";
@import "./keyframes.scss";

body {
    margin: 0;
    font-family: 'Bricolage Grotesque', sans-serif;
}

.d-none {
    display: none;
}

html {
    scroll-behavior: smooth;
}

.lock-scroll {
    position: fixed;     /* verhindert Scrollen, ohne die Seite springen zu lassen */
    overflow: hidden;
    width: 100%;
  }