<div class="section-header" [ngClass]="'align-' + textAlign">
  <ng-template #subtitleTpl let-mt="mt" let-mb="mb">
    @switch (subtitleTag) {
    @case ('h1') {
    <h1 class="section-subtitle" [style.marginTop.px]="mt" [style.marginBottom.px]="mb">
      {{ subtitle | translate }}
    </h1>
    }
    @case ('h2') {
    <h2 class="section-subtitle" [style.marginTop.px]="mt" [style.marginBottom.px]="mb">
      {{ subtitle | translate }}
    </h2>
    }
    @default {
    <h3 class="section-subtitle" [style.marginTop.px]="mt" [style.marginBottom.px]="mb">
      {{ subtitle | translate }}
    </h3>
    }
    }
  </ng-template>

  @if (lineAboveTitle) {

  <div class="line-wrapper" [style.display]="'flex'" [style.justifyContent]="getCurrentLineAlign()"
    [style.marginBottom.px]="lineMarginBottom" [style.marginRight.px]="160">

    @if (lineImage) {
    <img [src]="lineImage" alt="line image" [style.width.px]="getCurrentLineWidth()" [ngClass]="{
               'animated-line': animateLine,
               'horizontal-mask': maskDirection === 'horizontal',
               'horizontal-mask-rtl': maskDirection === 'rtl',
               'circular-mask': maskDirection === 'circular'
             }" />
    }
  </div>

  @if (subtitlePosition === 'above') {
  <ng-container *ngTemplateOutlet="subtitleTpl; context: { mb: subtitleOffset }"></ng-container>
  }

  <h1 #titleElement class="title">{{ title | translate }}</h1>

  @if (subtitlePosition === 'below') {
  <ng-container *ngTemplateOutlet="subtitleTpl; context: { mt: subtitleOffset }"></ng-container>
  }

  <p class="section-info-text" [style.marginTop.px]="infoOffset">
    {{ infoText | translate }}
  </p>

  @if (lineUnderInfoText) {
  <div class="line-wrapper" [style.display]="'flex'" [style.width]="'100%'" [style.marginTop.px]="lineMarginBottom"
    [style.justifyContent]="getCurrentLineAlign()">

    @if (lineImage) {
    <img [src]="lineImage" alt="line image" [style.width.px]="getCurrentLineWidth()" [ngClass]="{
                 'animated-line': animateLine,
                 'horizontal-mask': maskDirection === 'horizontal',
                 'horizontal-mask-rtl': maskDirection === 'rtl',
                 'circular-mask': maskDirection === 'circular'
               }" />
    }
  </div>
  }

  } @else {

  @if (subtitleUnderLine) {

  <div class="title-fit">
    <h1 #titleElement class="title">{{ title | translate }}</h1>

    @if (!lineUnderInfoText) {
    <div class="line-wrapper line-wrapper--title" [style.marginBottom.px]="lineMarginBottom">
      @if (lineImage) {
      <img class="line" [src]="lineImage" alt="line image" [style.width.px]="lineMatchTitle ? titleWidthPx : lineWidth"
        [ngClass]="{
                     'animated-line': animateLine,
                     'horizontal-mask': maskDirection === 'horizontal',
                     'horizontal-mask-rtl': maskDirection === 'rtl',
                     'circular-mask': maskDirection === 'circular'
                   }" />
      }
    </div>
    }
  </div>

  <h3 class="section-subtitle" [style.marginTop.px]="subtitleOffset">
    {{ subtitle | translate }}
  </h3>

  <p class="section-info-text" [style.marginTop.px]="infoOffset">
    {{ infoText | translate }}
  </p>

  @if (lineUnderInfoText) {
  <div class="line-wrapper" [style.display]="'flex'" [style.width]="'100%'" [style.marginTop.px]="lineMarginBottom"
    [style.justifyContent]="getCurrentLineAlign()">

    @if (lineImage) {
    <img [src]="lineImage" alt="line image" [style.width.px]="getCurrentLineWidth()" [ngClass]="{
                   'animated-line': animateLine,
                   'horizontal-mask': maskDirection === 'horizontal',
                   'horizontal-mask-rtl': maskDirection === 'rtl',
                   'circular-mask': maskDirection === 'circular'
                 }" />
    }
  </div>
  }

  } @else {

  @if (subtitlePosition === 'above') {
  <ng-container *ngTemplateOutlet="subtitleTpl; context: { mb: subtitleOffset }"></ng-container>
  }

  <h1 #titleElement class="title">{{ title | translate }}</h1>

  @if (subtitlePosition === 'below') {
  <ng-container *ngTemplateOutlet="subtitleTpl; context: { mt: subtitleOffset }"></ng-container>
  }

  @if (!lineUnderInfoText) {
  <div class="line-wrapper" [style.display]="'flex'" [style.width]="'100%'" [style.marginBottom.px]="lineMarginBottom"
    [style.justifyContent]="getCurrentLineAlign()">

    @if (lineImage) {
    <img class="line" [src]="lineImage" alt="line image" [style.width.px]="lineMatchTitle ? titleWidthPx : lineWidth"
      [ngClass]="{
                   'animated-line': animateLine,
                   'horizontal-mask': maskDirection === 'horizontal',
                   'horizontal-mask-rtl': maskDirection === 'rtl',
                   'circular-mask': maskDirection === 'circular'
                 }" />
    }
  </div>
  }

  <p class="section-info-text" [style.marginTop.px]="infoOffset">
    {{ infoText | translate }}
  </p>

  @if (lineUnderInfoText) {
  <div class="line-wrapper" [style.display]="'flex'" [style.width]="'100%'" [style.marginTop.px]="lineMarginBottom"
    [style.justifyContent]="getCurrentLineAlign()">

    @if (lineImage) {
    <img [src]="lineImage" alt="line image" [style.width.px]="getCurrentLineWidth()" [ngClass]="{
                   'animated-line': animateLine,
                   'horizontal-mask': maskDirection === 'horizontal',
                   'horizontal-mask-rtl': maskDirection === 'rtl',
                   'circular-mask': maskDirection === 'circular'
                 }" />
    }
  </div>
  }
  }
  }
</div>