.section-header {
    text-align: left;
    width: 80%;

    h3 {
        font-weight: 400;
        margin-bottom: 10px;
    }

    h1 {
        font-size: 65px;
        margin: 0;
    }

    .line-wrapper {
        width: 340px;
        height: 24px;

        img {
            display: block;
            width: 100%;
            object-fit: fill;
            transform-origin: left center;
            transition: transform 0.5s ease;

            &.animated-line {
                mask-image: linear-gradient(to right, black 0%, black 100%);
                mask-size: 0% 100%;
                mask-repeat: no-repeat;
                animation: maskLine 6.4s infinite linear;
            }
        }
    }

    p.section-info-text {
        font-size: 20px;
        line-height: 1.5;
    }
}

@keyframes maskLine {
    0% {
      mask-size: 0% 100%;
    }
    4% {
      mask-size: 100% 100%;
    }
    82% {
      mask-size: 100% 100%;
    }
    86% {
      mask-size: 0% 100%;
    }
    100% {
      mask-size: 0% 100%;
    }
  }