<div class="footer-main" [class.light]="theme === 'light'" [class.dark]="theme === 'dark'">
  <nav class="navbar">
    <ul class="nav-links">
      <div class="logo-wrapper">
        <img class="logo logo-blue" src="./assets/img/header/logo_blue.png" alt="">
        <img class="logo logo-yellow" src="./assets/img/header/logo_yellow.png" alt="">
        <div class="my-name">© Joel Baig 2025</div>
      </div>
      <li class="nav-about-me" >
        <a (click)="openLegalNotice($event)" class="nav-link legal-link">
          Legal Notice
          <img class="legal-notice-img-hover" src="assets/img/header/B.3.png" alt="about" class="hover-bg" />
        </a>
      </li>

      <li class="nav-main" [class.has-interacted]="hasInteracted">
        <a href="https://github.com/JoelBaig" target="_blank" rel="noopener noreferrer" routerLink="/skills"
          class="nav-link" (mouseenter)="over = 'github'; hasInteracted = true" (mouseleave)="over = null">
          <span class="label">
            GitHub
            <span class="icon-wrap" [class.on]="over==='github'">
              <img class="icon" src="./assets/img/header/filled_github.png" alt="">
            </span>
          </span>
        </a>
      </li>

      <li class="nav-main" [class.has-interacted]="hasInteracted">
        <a href="https://www.linkedin.com/in/joe-undefined-51ab56305/" target="_blank" rel="noopener noreferrer"
          routerLink="/projects" class="nav-link" (mouseenter)="over = 'linkedin'; hasInteracted = true"
          (mouseleave)="over = null">
          <span class="label">
            LinkedIn
            <span class="icon-wrap" [class.on]="over==='linkedin'">
              <img class="icon" src="./assets/img/header/filled_linkedin.png" alt="">
            </span>
          </span>
        </a>
      </li>

      <li class="nav-main" [class.has-interacted]="hasInteracted">
        <a href="mailto:ibaig@web.de" class="nav-link" (mouseenter)="over = 'email'; hasInteracted = true"
          (mouseleave)="over = null">
          <span class="label">
            Email
            <span class="icon-wrap" [class.on]="over==='email'">
              <img class="icon" src="./assets/img/header/filled_mail.png" alt="">
            </span>
          </span>
        </a>
      </li>
    </ul>
  </nav>
</div>