<div class="footer-main">
    <nav class="navbar">
        <ul class="nav-links">
              <li class="nav-about-me">
                <a routerLink="/about" class="nav-link">
                  Legal Notice
                  <img src="assets/img/header/B.2.png" alt="about" class="hover-bg" />
                </a>
              </li>
              <li class="nav-skills">
                <a routerLink="/skills" class="nav-link">
                  GitHub
                  <img src="assets/img/header/B.1.png" alt="skills" class="hover-bg" />
                </a>
              </li>
              <li class="nav-projects">
                <a routerLink="/projects" class="nav-link">
                  LinkedIn
                  <img src="assets/img/header/B.4.png" alt="projects" class="hover-bg" />
                </a>
              </li>
              <li class="nav-contact">
                <a routerLink="/contact" class="nav-link">
                  Email
                  <img src="assets/img/header/B.3.png" alt="contact" class="hover-bg" />
                </a>
              </li>
        </ul>
    </nav>
</div>