<!-- <div class="footer-main">
    <nav class="navbar">
        <ul class="nav-links">
            <li class="nav-about-me">
                <a routerLink="/about" class="nav-link legal-link">
                    Legal Notice
                    <img class="legal-notice-img-hover" src="assets/img/header/B.3.png" alt="about" class="hover-bg" />
                </a>
            </li>
            <li class="nav-skills">
                <a routerLink="/skills" class="nav-link">
                    <span class="label">GitHub</span>
                </a>
            </li>
            <li class="nav-projects">
                <a routerLink="/projects" class="nav-link">
                    <span class="label">LinkedIn</span>
                </a>
            </li>
            <li class="nav-contact">
                <a routerLink="/contact" class="nav-link">
                    <span class="label">Email</span>
                </a>
            </li>
        </ul>
    </nav>
</div> -->

<div class="footer-main">
    <nav class="navbar">
      <ul class="nav-links">
        <li class="nav-about-me">
          <!-- KEIN blauer Hover-Background hier -->
          <a routerLink="/about" class="nav-link legal-link">
            Legal Notice
          </a>
        </li>
  
        <li class="nav-skills">
          <a routerLink="/skills" class="nav-link">
            <span class="label">GitHub</span>
          </a>
        </li>
  
        <li class="nav-projects">
          <a routerLink="/projects" class="nav-link">
            <span class="label">LinkedIn</span>
          </a>
        </li>
  
        <li class="nav-contact">
          <a routerLink="/contact" class="nav-link">
            <span class="label">Email</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>